In [14]:
import networkx as nx
import warnings
import datetime
import seaborn as sn
sn.set()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter
from ast import literal_eval
%matplotlib inline
warnings.filterwarnings('ignore')

In [15]:
linedf = pd.read_csv("Data/lines.csv", sep=";")

In [16]:
def occupancy(path):
    df = pd.read_csv(path)

    listofmeans = []
    for index, row in df.iterrows():
        listoflists = [literal_eval(row['occupancy1']), literal_eval(row['occupancy2']), 
            literal_eval(row['occupancy3']), literal_eval(row['occupancy4']), literal_eval(row['occupancy5']), 
            literal_eval(row['occupancy6']), literal_eval(row['occupancy7']), literal_eval(row['occupancy8']),
            literal_eval(row['occupancy9']), literal_eval(row['occupancy10'])]

        singelist = map(sum, map(lambda l: map(float, l), zip(*listoflists)))
        averagelist = [x / 10 for x in singelist]

        if row['line'].endswith('1'):
            averagelist = averagelist[::-1]

        listofmeans.append(averagelist)

    df['mean'] = listofmeans
    df['linename'] = df['line'].apply(lambda x: x[:-2])
    df = df.merge(linedf, left_on = "linename", right_on = "Line")
    df = df[['departure','line', 'mean', 'Route1']]
    return df

In [19]:
iets = occupancy("../../Results/Sc2Weekend/8/vehicles8.csv")
iets[iets['line'] == 'tram12_0']

,departure,line,mean,Route1
57,08:35:00,tram12_0,"[29.7, 27.7, 36.6, 35.3, 32.4, 32.4, 35.3, 42....","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
59,08:41:00,tram12_0,"[10.7, 10.2, 9.6, 8.6, 8.0, 7.9, 8.0, 9.5, 8.2...","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
61,08:47:00,tram12_0,"[8.4, 7.6, 8.0, 7.7, 7.2, 7.2, 7.2, 7.7, 8.1]","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
63,08:53:00,tram12_0,"[10.4, 9.6, 9.1, 8.2]","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
65,08:59:00,tram12_0,[8.2],"[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."

In [20]:
iets2 = occupancy("../../Results/Sc1Weekend/8/vehicles8.csv")
iets2[iets2['line'] == 'tram12_0']

,departure,line,mean,Route1
33,08:05:00,tram12_0,"[1.1, 1.5, 3.0, 2.7, 2.7, 3.0, 3.9, 8.4, 9.9, ...","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
35,08:11:00,tram12_0,"[3.9, 4.2, 3.9, 3.8, 3.5, 3.5, 3.4, 4.9, 5.6, ...","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
37,08:17:00,tram12_0,"[6.1, 6.3, 6.2, 5.9, 5.7, 5.6, 6.1, 6.5, 6.6, ...","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
39,08:23:00,tram12_0,"[6.9, 7.2, 6.7, 5.9, 5.4, 5.6, 6.0, 6.9, 6.7, ...","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
41,08:29:00,tram12_0,"[9.1, 8.9, 9.2, 8.2, 7.4, 7.4, 7.3, 8.8, 8.5, ...","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
43,08:35:00,tram12_0,"[9.7, 8.2, 12.2, 10.8, 9.3, 9.2, 8.5, 9.6, 7.9...","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
45,08:41:00,tram12_0,"[8.7, 8.2, 8.0, 7.0, 6.3, 6.1, 6.3, 7.0, 6.5, ...","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
47,08:47:00,tram12_0,"[7.5, 6.8, 7.3, 6.8, 6.3, 6.2, 5.8, 6.8, 6.4]","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
49,08:53:00,tram12_0,"[10.7, 10.9, 10.0, 9.3]","[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."
51,08:59:00,tram12_0,[8.1],"[""Centraal Station"", ""Nieuwezijds Kolk"", ""Dam""..."